/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url(../../quotes/images/pp.jpg);
  background-repeat: no-repeat;
  height: 1500px;
  width: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
